#sidebar{
    max-width: 300px;
    background-color: var(--bcolor);
    padding: 20px;
    overflow-y: auto;
    border-right: 1px solid #ddd;
    box-shadow: inset -1px 0px 5px rgba(0, 0, 0, 0.1);
}

#logo_div{
  padding-top: 10em;
}
.icons {
  list-style: none;          /* remove bullet points */
  display: flex;             /* make horizontal */
  justify-content: center;   /* optional: center horizontally */
  gap: 16px;                 /* spacing between icons */
  padding: 0;
  margin: 0;
}
.icons li a {
  color: var(--pcolor);            /* match icon color */
  font-size: 24px;           /* size of the icons */
  transition: color 0.3s;
}

.icons li a:hover {
  color: var(--pcolor);            /* optional hover color */
}

.logo_blurb {
  font-size: 0.9rem;
  color: #888;
  margin-top: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease;

}

.logo {
    cursor: pointer;
    width: 100%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
    aspect-ratio: 1; /* Ensures it stays circular/square if border-radius is 50% */
    display: block; /* Ensures it takes up its own line */
    padding: 5px; /* Add some padding around the logo */
    display: flex;
    justify-content: center;
    padding-bottom: 1em;

}

.blurb, .footer {
  font-size: clamp(.1rem, 2.5vw, 1rem);
}



/* Targeting the SVG element directly within the .logo class */
.logo svg {
    width: 10%; /* Make the SVG fill its container */
    height: 100%;
    display: block; /* Ensure it behaves as a block element */
    padding-bottom: 1em;
}

