
//scss libraries to be more general
@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/skel";

@include skel-breakpoints(
  (
    xlarge: "(max-width: 1680px)",
    large: "(max-width: 1280px)",
    medium: "(max-width: 980px)",
    small: "(max-width: 736px)",
    xsmall: "(max-width: 480px)",
  )
);

@include skel-layout(
  (
    reset: "full",
    boxModel: "border",
    grid: (
      gutters: 1em,
    ),
  )
);

//base rules
@import "base/page";
@import "base/typography";


@import "layout/sidebar";
@import "layout/header";
@import "layout/intro";
@import "layout/main";
@import "layout/footer";
@import "layout/wrapper";
@import "layout/menu";